body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow: hidden;
    min-height: 100vh; /* Ensure full height */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/638770ac54a788571cae658a_Webflow%20Blog%20Header%20-%20Desktop%201%20(1).png');
    background-size: cover;
}
.intro-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
body.light-mode {
    background-color: #f0f0f5;
    color: #000;
}
body.light-mode .container h1,
body.light-mode .container h2,
body.light-mode .container pre {
    color: #000;
}

body.dark-mode .container h1,
body.dark-mode .container h2,
body.dark-mode .container pre {
    color: #fff;
}
body.dark-mode {
    background-color: #121212;
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    font-family: 'Montserrat', sans-serif;
    max-width: 90%; /* Ensure it doesn't exceed viewport width */
    max-height: 75vh; /* Ensure it doesn't exceed viewport height */
    overflow-y: auto; /* Enable vertical scrolling within the container */
    display: none;
    margin: auto;
    width: 900px;
    max-width: 90%;
    overflow-x: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

body.dark-mode .container {
    background-color: rgba(30, 30, 30, 0.9);
}

.section {
    margin-bottom: 30px;
}

input, pre {
    background-color: #e0e0e0;
    color: #000; 
    font-family: 'Montserrat', sans-serif;
}

body.dark-mode input,
body.dark-mode pre {
    background-color: #333;
    color: #fff;
}

input {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    margin-bottom: 15px;
    width: calc(100% - 30px);
    border-radius: 5px;
    border: transparent;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}


pre {
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #e0e0e0;
    color: #000;
}

body.dark-mode pre {
    background-color: #333;
    color: #fff;
}

.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: white;
    padding: 5px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

body.dark-mode .toggle-container {
    background-color: black;
}

#themeToggle {
    background-color: transparent;
    border: none;
    font-size: 24px; 
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
button, select {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 15px;
    background-color: #c47ce6;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

button:hover, select:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
}

button::before, select::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
}

button:hover::before, select:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes glowEffect {
    from { box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    to { box-shadow: 0 0 20px rgba(255, 255, 255, 1); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}